<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
    <display-name>AukcjaSprzetuIT</display-name>
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Production</param-value>
    </context-param>
    <context-param>
        <param-name>resourceBundle.location</param-name>
        <param-value>messages</param-value>
    </context-param>
    <context-param>
        <param-name>javax.faces.DATETIMECONVERTER_DEFAULT_TIMEZONE_IS_SYSTEM_TIMEZONE</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>
            classpath:pl/pgnig/serwis/auction/dao-context.xml
            classpath:pl/pgnig/serwis/auction/service-context.xml
        </param-value>
    </context-param>
    <context-param>
        <param-name>primefaces.UPLOADER</param-name>
        <param-value>auto</param-value>
    </context-param>
    <context-param>
        <param-name>primefaces.THEME</param-name>
        <param-value>bootstrap</param-value>
    </context-param>
    <context-param>
        <param-name> javax.faces.FACELETS_LIBRARIES</param-name>
        <param-value>/WEB-INF/AukcjaSprzetuIT.taglib.xml</param-value>
    </context-param>
    <context-param>
        <param-name>pl.pgnig.serwis.auction.AUCTION_IMAGES_LOCATION</param-name>
        <param-value>\\kim\SprzZdj\</param-value>
    </context-param>
    <welcome-file-list>
        <welcome-file>itemsBrowse.xhtml</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.xhtml</url-pattern>
    </servlet-mapping>
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <listener>
        <listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
    </listener>
    <filter>
        <filter-name>SecurityFilter</filter-name>
        <filter-class>waffle.servlet.NegotiateSecurityFilter</filter-class>
        <init-param>
            <param-name>waffle.servlet.spi.NegotiateSecurityFilterProvider/protocols</param-name>
            <param-value>
                NTLM
            </param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>SecurityFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>PriviledgedFilter</filter-name>
        <filter-class>pl.pgnig.serwis.auction.security.PriviledgedSecurityFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>PriviledgedFilter</filter-name>
        <url-pattern>/priviledged/*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>StandardFilter</filter-name>
        <filter-class>pl.pgnig.serwis.auction.security.StandardSecurityFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>StandardFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>NoPageCacheFilter</filter-name>
        <filter-class>pl.pgnig.serwis.auction.security.NoPageCacheFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>NoPageCacheFilter</filter-name>
        <url-pattern>/*</url-pattern>
        <servlet-name>Faces Servlet</servlet-name>
    </filter-mapping>
    <session-config>
        <cookie-config>
            <path>/</path>
        </cookie-config>
    </session-config>
    <error-page>
        <exception-type>javax.faces.application.ViewExpiredException</exception-type>
        <location>/expiredExceptionHandle.xhtml</location>
    </error-page>
</web-app>